################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Homework/File03.cpp
/Homework/File02.cpp
/Homework/File01.cpp
